@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url('Supra.png') no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    margin:0;
    padding:0;
    height: 70px;
    background-color: rgba(0,0,0,0.7);
    border: none;
}


div.header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	border: none;
	background-color: transparent;
}

li>a{
text-align: center;
}

div.header ul{
	display: flex;
}

h2.rent {
    font-size:2em;
    color: #f00;
    user-select: none;
    margin-right: 30px;
    margin-left: 30px;
}

nav.navigation{
	display: flex;
	flex-direction: row;
	width: 100%;
}

.navigation a{
	display:flex;
    position: relative;
    font-size: 1.1em;
    color: #F00;
    text-decoration: none;
    font-weight: 500;
    margin:0 40px;
    text-align: center;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #f00;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    margin-right: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #000
}

.car-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    
}

.car-item {
    width: 230px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.car-item>img{
	width: 230px;
	border-radius: 5px 5px 0 0 ;
}

button.rent-button {
    width: 100%;
    height: 50px;
    background: #90caf9;
    color: #000;
    border: none;
    outline: none;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: 500;
    transition: background .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

button.rent-button:hover {
    background-color: #c00;
    color: #FFF;
    
}



.list-button {
	position: absolute;
    top: 150px;
    width: 250px;
    height: 40px;
    background: #fff;
    color: #f00;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: 500;
    transition: background .3s;
}

.content-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
}